<form class="form" (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
  <br/>
  <br/>
  <h2 class="form-heading">Change password</h2>

  <label>Old password</label>
  <input type="password" class="form-control" [(ngModel)]="dto.oldPassword" name="old" required autofocus>
  <label>New password</label>
  <input type="password" class="form-control" [(ngModel)]="dto.newPassword" name="new" required>
  <label>Confirm password</label>
  <input type="password" class="form-control" [(ngModel)]="dto.confirmPassword" name="confirm" required>
  <br/>
  <button id="changePasswordButton" [disabled]="changePasswordForm.form.invalid || passwordsNotMatching" class="btn btn-lg btn-primary btn-block"
    type="submit">Change password</button>
</form>